<div class="comments">
  <br>
  {{#each this}}
    <section id="comment-section" class="comment">
      {{log comment.id}}
      <a href="/comment/{{id}}">{{contents}}</a>
      <div class="meta">
        {{user.username}} -  {{format_date date_created}}
      </div>
      {{!-- <p class="text">
        {{contents}}
      </p> --}}
    </section>
     {{!-- {{#if loggedIn}} --}}
     {{log contents}}
 
    {{!-- {{/if}} --}}
  {{/each}}
</div>

{{!-- {{#if loggedIn}} --}}
{{!-- <script src="/js/comment.js"></script> --}}
{{!-- {{/if}} --}}